@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

body {
  margin: 0;
  background-color: #fe8889;
  font-weight: 400;
  font-family: 'Josefin Slab', serif;
  width: 100%;
  height: 100%;
  /* ---- particles.js container ---- */ }
  body canvas {
    display: block;
    vertical-align: bottom; }
  body #particles-js {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    width: 100%;
    height: 100%;
    background: #141414;
    z-index: 0; }
    @media screen and (max-width: 900px) {
      body #particles-js {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 97%);
        height: 67%; } }
  body .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh; }
    body .container .presentation {
      width: 25%;
      height: 50%;
      z-index: 999;
      margin-top: 6%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff; }
      @media screen and (max-width: 900px) {
        body .container .presentation {
          width: 50%;
          height: 30%; } }
      body .container .presentation h1,
      body .container .presentation h2,
      body .container .presentation h3 {
        margin: 1.5%; }
      body .container .presentation h1 {
        font-size: calc(1.5vh + 1.5vw); }
      body .container .presentation h2 {
        font-size: calc(1.1vh + 1.1vw); }
      body .container .presentation h3 {
        font-size: calc(0.9vh + 0.9vw);
        text-align: center; }
        body .container .presentation h3 a {
          text-decoration: none; }
        body .container .presentation h3 span {
          color: #fe8889; }
          body .container .presentation h3 span:hover {
            color: #fff; }
      body .container .presentation .profile_image {
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        background: url("../images/stackpic.jpg");
        background-size: cover;
        background-position: center;
        border: 1px solid #fe8889;
        margin-bottom: 5%; }
    body .container .aboutme_button,
    body .container .contact_button,
    body .container .skills_button {
      width: 10%;
      height: 5%;
      border: 1px solid #fe8889;
      border-radius: 8px;
      overflow: hidden;
      color: #fff;
      display: flex;
      z-index: 999;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 65%;
      font-size: calc(1vh + 1vw); }
      @media screen and (max-width: 900px) {
        body .container .aboutme_button,
        body .container .contact_button,
        body .container .skills_button {
          width: 20%;
          height: 3%; } }
      body .container .aboutme_button:hover,
      body .container .contact_button:hover,
      body .container .skills_button:hover {
        border-color: white;
        cursor: pointer; }
      body .container .aboutme_button h1,
      body .container .contact_button h1,
      body .container .skills_button h1 {
        text-transform: uppercase;
        margin: 0; }
    body .container .aboutme_button {
      left: 33%;
      top: 71%; }
      @media screen and (max-width: 900px) {
        body .container .aboutme_button {
          left: 19%;
          top: 51%; } }
    body .container .skills_button {
      margin: 0 auto;
      top: 65%; }
      @media screen and (max-width: 900px) {
        body .container .skills_button {
          top: 46%; } }
    body .container .contact_button {
      left: 57%;
      top: 59%; }
      @media screen and (max-width: 900px) {
        body .container .contact_button {
          left: 57%;
          top: 41%; } }
    body .container .about_me,
    body .container .contact_me,
    body .container .skills {
      display: none;
      position: absolute;
      top: 80%;
      z-index: 999;
      color: #fff; }
      @media screen and (max-width: 900px) {
        body .container .about_me,
        body .container .contact_me,
        body .container .skills {
          top: 58%; } }
      body .container .about_me h1,
      body .container .contact_me h1,
      body .container .skills h1 {
        font-size: calc(1.5vh + 1.5vw);
        text-align: center;
        margin-bottom: 8%; }
      body .container .about_me p,
      body .container .contact_me p,
      body .container .skills p {
        line-height: 150%;
        font-size: calc(0.7vh + 0.7vw); }
      body .container .about_me a,
      body .container .contact_me a,
      body .container .skills a {
        text-decoration: none;
        color: #fff; }
        body .container .about_me a:hover,
        body .container .contact_me a:hover,
        body .container .skills a:hover {
          color: #141414; }
      body .container .about_me .skill_bars span,
      body .container .contact_me .skill_bars span,
      body .container .skills .skill_bars span {
        top: -30px;
        left: 2%;
        position: relative;
        font-size: calc(1vh + 1vw);
        color: #fff; }
      body .container .about_me progress,
      body .container .contact_me progress,
      body .container .skills progress {
        background-color: #f3f3f3;
        border: 0;
        height: 2.5em;
        width: 100%; }
      body .container .about_me progress::-webkit-progress-bar,
      body .container .contact_me progress::-webkit-progress-bar,
      body .container .skills progress::-webkit-progress-bar {
        background-color: #fff; }
      body .container .about_me progress::-webkit-progress-value,
      body .container .contact_me progress::-webkit-progress-value,
      body .container .skills progress::-webkit-progress-value {
        background-color: #141414; }
      body .container .about_me progress::-moz-progress-bar,
      body .container .contact_me progress::-moz-progress-bar,
      body .container .skills progress::-moz-progress-bar {
        background-color: #141414; }
    body .container .active {
      display: block; }
